[submodule "third/spdlog"]
	path = third/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third/http-parser"]
	path = third/http-parser
	url = https://github.com/nodejs/http-parser
[submodule "third/sha1"]
	path = third/sha1
	url = https://github.com/983/SHA1.git
